
/* Your CSS Code here. */
table{
   background-color: black;
   width: 80%;
}

th{
    color: white;
    background-color: #c94541;
}
.row1{
    color: white;
    background-color:#edbab8;
}
.row2{
    color: white;
    background-color: #e7dada;
}
.row3{
    color: white;
    background-color:  #aba8a8;
}
